{% extends 'main/base.html' %}

{% block title  %}{{ title }}{% endblock %}

{% block content  %}
    <div class="features">
        <h1>{{ title }}</h1>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Expedita sed obcaecati aliquam tempora dolores commodi? Provident earum nesciunt ipsum minus explicabo velit adipisci eveniet blanditiis necessitatibus ratione. Distinctio, ducimus optio!</p>
        <button class="btn btn-warning">На страницу про нас</button>
    </div>
{% endblock %}